
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,body {
    font-family: 'Poppins', sans-serif !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.validate{
    font-size: 14px;
}

.CategoryGet:hover {
    cursor: pointer;
}

.CategoryGet i.fa-pen,
.CategoryGet i.fa-trash-can {
    opacity: 0;
    transition: 1 0.3s ease;
}

 /* Show icons when hovering  */
.CategoryGet:hover i.fa-pen,
.CategoryGet:hover i.fa-trash-can {
    opacity: 1;
}

.active-category {
    background-color: white !important; 
    color: #0084c3 !important;
    font-weight: bold;
}

.active-div{
    background-color: #def0ff;
    color: #0084c3;
}

.ModifierGet:hover {
    cursor: pointer;
}

.ModifierGet i.fa-pen,
.ModifierGet i.fa-trash-can {
    opacity: 0;
    transition: 1 0.3s ease;
}

 /* Show icons when hovering  */
.ModifierGet:hover i.fa-pen,
.ModifierGet:hover i.fa-trash-can {
    opacity: 1;
}
